In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

In [2]:
df = pd.read_csv("./melb_data.csv")
df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0

In [3]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [4]:
df.shape

(13580, 21)

In [ ]:
correlation = df[['Suburb', 'Postcode']].apply(lambda x: pd.factorize(x)[0]).corr()
correlation

In [ ]:
df1 = df.drop(['Address', 'Method', 'SellerG', 'Date', 'Lattitude', 'Longtitude', 'Regionname', 'Postcode', 'CouncilArea'], axis=1)
df1.head()

In [ ]:
df1.describe()

In [ ]:
df1["Suburb"].nunique()

In [ ]:
df1.groupby("Type")["Type"].agg('count')
#h - house,cottage,villa, semi,terrace; u - unit, duplex; t - townhouse

# Data Cleaning

## Handle NA values

In [ ]:
df1.isna().sum()

In [ ]:
df1["BuildingArea"].fillna(df1["BuildingArea"].mean(), inplace=True)
df1["YearBuilt"].fillna(df1["YearBuilt"].median(), inplace=True)
df1.isna().sum()

In [ ]:
df1.dropna(inplace=True)
df1.isna().sum()

## Convert data types

In [ ]:
df1["Bathroom"].unique()

In [ ]:
df1["Bedroom2"] = df1["Bedroom2"].astype(int)
df1["Bathroom"] = df1["Bathroom"].astype(int)
df1["Car"] = df1["Car"].astype(int)
df1.head()

In [ ]:
df1[df1["Landsize"] == 0].shape[0]

In [ ]:
df1 = df1[df1['Landsize'] != 0]
df1.shape

In [ ]:
df1[df1["BuildingArea"] == 0].shape[0]

In [ ]:
df1 = df1[df1['BuildingArea'] != 0]
df1.shape

In [ ]:
df1["YearBuilt"].unique()

In [ ]:
df1[df1["Bedroom2"] == 20]

In [ ]:
len(df1.Suburb.unique())

In [ ]:
df1.Suburb = df1.Suburb.apply(lambda x: x.strip())

suburb_count = df1.groupby('Suburb')['Suburb'].agg('count').sort_values(ascending=False)
suburb_count

In [ ]:
suburb_count_less_than_10 = suburb_count[suburb_count <= 10]
len(suburb_count_less_than_10)

In [ ]:
df1["price_per_m2"] = df1["Price"]/df1["Landsize"]
df1

In [ ]:
df1["m2_per_room"] = df1["Landsize"]/df1["Rooms"]
df1.describe()

In [ ]:
df2 = df1[~(df1["m2_per_room"]<=25)]
df2.shape

In [ ]:
df2.price_per_m2.describe()

## Remove outliers of price_per_m2 beyond one standard deviation of the mean

In [ ]:
def remove_outliers_ppm2(df):
    new_df = pd.DataFrame()
    for key, sdf in df.groupby('Suburb'):
        mean = sdf.price_per_m2.mean()
        std = sdf.price_per_m2.std()
        new_sdf = sdf[(sdf.price_per_m2 >= (mean-std)) & (sdf.price_per_m2 <= (mean+std))]
        new_df = pd.concat([new_df, new_sdf], ignore_index=True)
    return new_df

In [ ]:
df3 = remove_outliers_ppm2(df2)
df3.shape

In [ ]:
def scatter_plot_ppm2(df, suburb):
    sdf = df[df['Suburb'] == suburb]
    b2 = sdf[sdf['Bedroom2'] == 2] 
    b3 = sdf[sdf['Bedroom2'] == 3]
             
    matplotlib.rcParams['figure.figsize'] = (15,10)
    plt.scatter(b2['Landsize'], b2['price_per_m2'], color="red", label='2 bedroom', s=50) 
    plt.scatter(b3['Landsize'], b3['price_per_m2'], color="blue", label='3 bedroom', s=50)
    
    plt.legend()
    plt.xlabel("Landsize")
    plt.ylabel("Price per m2")
    plt.title(suburb)

In [ ]:
scatter_plot_ppm2(df3, 'Brunswick')

In [ ]:
def scatter_plot_price(df, suburb):
    sdf = df[df['Suburb'] == suburb]
    b2 = sdf[sdf['Bedroom2'] == 2] 
    b3 = sdf[sdf['Bedroom2'] == 3]
             
    matplotlib.rcParams['figure.figsize'] = (15,10)
    plt.scatter(b2['Landsize'], b2['Price'], color="red", label='2 bedroom', s=50) 
    plt.scatter(b3['Landsize'], b3['Price'], color="blue", label='3 bedroom', s=50)
    
    plt.legend()
    plt.xlabel("Landsize")
    plt.ylabel("Price")
    plt.title(suburb)

In [ ]:
scatter_plot_price(df3, "Brunswick")

In [ ]:
matplotlib.rcParams['figure.figsize'] = (15,10)
plt.hist(df3.price_per_m2, rwidth=0.8)
plt.xlabel("Price Per m2")
plt.ylabel("Count")

In [ ]:
df3.describe()

In [ ]:
df3 = df3[~(df3.Bedroom2 > 10)]
df3.shape

In [ ]:
df3 = df3[~(df3.BuildingArea < 10)]
df3.shape

In [ ]:
df3.head()

In [ ]:
df3 = df3[~(df3.Landsize > 3000)]
df3.describe()

In [ ]:
df3 = df3[~(df3.BuildingArea>1000)]
df3.describe()

In [ ]:
df4 = df3.drop(['price_per_m2', 'm2_per_room'], axis=1)
df4

In [ ]:
df5 = pd.get_dummies(df4, columns=["Suburb", "Type"])
df5

In [ ]:
df5.shape

In [ ]:
X = df5.drop(["Price"],axis=1)
X

In [ ]:
y = df5.Price
y

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [ ]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)
reg.score(X_test, y_test)

In [ ]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
cross_val_score(LinearRegression(), X, y, cv=cv)